html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6f5ff;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
}
#main {
  flex: 2;
}
p {
  color: red;
}

#motto {
  text-align: right;
}

#motto span {
  font-weight: bold;
}

.favorite {
  font-weight: bold;
  color: coral;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
}
#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  text-decoration: none;
  padding: 0 15px 0 15px;
  color: #fff;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}
.page {
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(151, 127, 200, 0.09);
}
.page h2 {
  margin-top: 0;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
}
#header-info {
  flex: 1;
}
